html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Crimson Pro", serif;
}

.content-section h1 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: -3px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 16px;
  font-style: italic;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu a {
  text-decoration: none;
  background-color: #149d7e;
  color: white;
  padding: 10px;
  border-radius: 100px;
  margin: 2px;
  transition: all 0.3s;
  order: 1; /* default order for inactive items */
  text-align: center;
}

.menu a.active {
  order: -1; /* move the active item to the first position */
  font-size: 35px;
  color: #149d7e;
  background-color: white;
  position: fixed;
  top: 75px;
  width: auto;
}

.parallax-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.parallax-section {
  height: 100vh;
  background: transparent;
}

.content-section {
  line-height: 26px;
  font-size: 20px;
  min-height: 100vh;
  background-color: #f8fff0;
  padding: 20px;
  z-index: 1;
  position: relative;
  padding: 80px 200px 80px 200px;
}

/* all mobile styles */
@media screen and (max-width: 600px) {
  .content-section {
    padding: 20px;
  }

  .menu a {
    width: 53px;
    overflow-wrap: break-word;
  }

  .menu a[href="#home"] {
    /* this one has a lot of text so needs to be bigger than the rest */
    width: 60px;
  }

  .menu a.active {
    width: auto;
  }
}

.image-centerer {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 100%; /* Makes the image fill the container's width */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes the small gap under the image */
}

.inline-img-container {
  width: 100%;
  text-align: left;
  margin-bottom: 30px; /* not quite working */
  overflow: auto;
}

.inline-img-container img {
  width: 46%;
  max-width: 300px;
}

.inline-img-container p {
  margin-top: -5px;
}

.inline-img-container img.keep-left {
  float: left;
  margin-right: 20px;
}

.inline-img-container img.keep-right {
  float: right;
  margin-left: 20px;
}

.content-section[data-menu="home"] .inline-img {
  width: 30%;
  margin: 35px 5px 35px 5px;
}

.content-section[data-menu="about-bohol"] .image-container {
  width: 30%;
}

.content-section[data-menu="about-bohol"]
  .image-area
  .image-container:nth-child(2) {
  margin-left: 60%;
}

.content-section[data-menu="about-bohol"]
  .image-area
  .image-container:nth-child(3) {
  margin-left: 15%;
}

.content-section[data-menu="about-bohol"]
  .image-area
  .image-container:nth-child(4) {
  margin-left: 60%;
}

.content-section[data-menu="how-to-get-there"] .map img {
  min-width: 300px;
  width: 60%;
  height: auto;
}
.content-section[data-menu="how-to-get-there"] .map {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.prices-table {
  font-size: 18px;
  border-collapse: collapse;
}
.prices-table td {
  border: 1px solid lightgray;
  padding: 0 3px 0 3px;
}
/*
.content-section[data-menu="accommodation"] {
  background-color: #ffaaff;
}

.content-section[data-menu="events"] {
  background-color: #566e56;
}

.content-section[data-menu="gifts"] {
  background-color: #6464bd;
}

.content-section[data-menu="rsvp"] {
  background-color: #a9a9a9;
} */
