html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Crimson Pro", serif;
}

.content-section h1 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: -3px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 16px;
  font-style: italic;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu a {
  text-decoration: none;
  background-color: #149d7e;
  color: white;
  padding: 10px;
  border-radius: 100px;
  margin: 2px;
  transition: all 0.3s;
  order: 1; /* default order for inactive items */
  text-align: center;
}

.menu a.active {
  order: -1; /* move the active item to the first position */
  font-size: 35px;
  color: #149d7e;
  background-color: white;
  position: fixed;
  top: 75px;
  width: auto;
  border: 1px solid #a0ded0;
} 

.parallax-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.parallax-section {
  height: 100vh;
  background: transparent;
}

.content-section {
  line-height: 26px;
  font-size: 20px;
  min-height: 100vh;
  background-color: #f8fff0;
  padding: 20px;
  z-index: 1;
  position: relative;
  padding: 80px 200px 80px 200px;
}

/* begin generic table styles */
table.qua-table {
  display: block;
  max-width: 100%;
  font-size: 18px;
  border-collapse: collapse;
  max-height: 70vh;
  overflow-y: auto;
}

table.qua-table thead {
  position: sticky; /* always keep the table header in view */
  top: 0;
  background-color: white;
  z-index: 1;
}

table.qua-table th {
  background-color: #149d7e;
  color: white;
  font-weight: normal;
}

table.qua-table td {
  border: 1px solid lightgray;
}

table.qua-table th {
  border-right: 1px solid lightgray;
}

table.qua-table th:last-child {
  border-right: none;
}

table.qua-table th,
table.qua-table td {
  padding: 0 3px 0 3px;
}

table.qua-table th:first-child {
  border-radius: 10px 0 0 0;
}

table.qua-table th:last-child {
  border-radius: 0 10px 0 0;
}

table.qua-table tr:nth-child(even) {
  background-color: #f3f3f3;
}
/* end generic table styles*/

/* begin generic inline image styles */
.centerer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-link {
  display: contents;
}

.floating-img-container {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
  overflow: auto;
}

.floating-img-container img {
  width: 46%;
  max-width: 300px;
}

.floating-img-container p {
  margin-top: -5px;
}

.floating-img-container img.keep-left {
  float: left;
  margin-right: 20px;
}

.floating-img-container img.keep-right {
  float: right;
  margin-left: 20px;
}
/* end generic inline image styles */

/* all mobile styles */
@media screen and (max-width: 600px) {
  .content-section {
    padding: 20px;
  }

  .menu a {
    width: 53px;
    overflow-wrap: break-word;
  }

  .menu a[href="#home"] {
    /* this one has a lot of text so needs to be bigger than the rest */
    width: 60px;
  }

  .menu a.active {
    width: auto;
  }
}

/* begin section-specific styles */
.content-section[data-menu="home"] .inline-img {
  width: 30%;
  margin: 35px 5px 35px 5px;
  max-width: 300px;
}

.content-section[data-menu="how-to-get-there"] .map img {
  min-width: 300px;
  width: 60%;
  height: auto;
}

.content-section[data-menu="how-to-get-there"] .map {
  max-width: 100%;
}

.content-section[data-menu="accommodation"] table.other-accommodation th {
  min-width: 100px;
}
.content-section[data-menu="accommodation"] table.other-accommodation th.amenities,
.content-section[data-menu="accommodation"] table.other-accommodation th.hotel-name {
  min-width: 200px;
}

.content-section[data-menu="events"] {
}

.content-section[data-menu="gifts"] .wise-qr-code {
  margin-top: 30px;
  width: 250px;
}

.content-section[data-menu="rsvp"] {
}

/* end section-specific styles */
